@page "/createemployee"
@inject IEmployeeViewModel EmployeeViewModel
@inject NavigationManager NavigationManager
@inject IDepartmentVeiwModel DepartmentVeiwModel

<div class="mb-2">
    <Breadcrumb>
        <BreadcrumbItem Href="/">Home</BreadcrumbItem>
        <BreadcrumbItem Href="/employees">Employees</BreadcrumbItem>
        <BreadcrumbItem>New</BreadcrumbItem>
    </Breadcrumb>
</div>
<hr />
<Card Hoverable Title="New Employee" Loading="_loading">
    <Form Model="@Employee"
          OnFinish="HandleValidSubmit"
          Layout="vertical">
        <ObjectGraphDataAnnotationsValidator />

        <Divider Orientation="center" Style="font-weight:bold">Personal Information</Divider>
        <FormItem Label="First Name">
            <Input @bind-Value="@context.FirstName" />
        </FormItem>
        <FormItem Label="Last Name">
            <Input @bind-Value="@context.LastName" />
        </FormItem>
        <FormItem Label="Gender">
            <EnumSelect TEnum="Gender" @bind-Value="@context.Gender" />
        </FormItem>
        <FormItem Label="Birth Date">
            <DatePicker DefaultValue="DateTime.Today" @bind-Value="@context.DateOfBirth" />
        </FormItem>
        <Divider Orientation="center" Style="font-weight:bold">Contact Information</Divider>
        <FormItem Label="Email">
            <Input @bind-Value="@context.Email" />
        </FormItem>
        <Divider Orientation="center" Style="font-weight:bold">Other Information</Divider>
        <FormItem Label="Department">
            <Select DataSource="@Departments"
                    Placeholder="Please Select Department ..."
                    DefaultActiveFirstOption="false"
                    ValueName="@nameof(Department.DepartmentId)"
                    LabelName="@nameof(Department.DepartmentName)"
                    @bind-Value="@context.DepartmentId"
                    EnableSearch
                    AllowClear>
            </Select>
        </FormItem>
        <FormItem Label="Image">
            <InputFile OnChange="OnFileChange" /> <Avatar Src="@context.PhotoPath"></Avatar>
        </FormItem>
        <FormItem>
            <Button Type="@ButtonType.Primary" HtmlType="submit">
                Create
            </Button>
        </FormItem>
    </Form>
</Card>
@code{
    [CascadingParameter]
    public Error Error { get; set; }

    public List<Department> Departments { get; set; } = new List<Department>();
    public Department Department { get; set; } = new Department();
    public Employee Employee { get; set; } = new Employee();
    bool _loading;

    protected async override Task OnInitializedAsync()
    {
        try
        {
            _loading = true;
            Departments = (await DepartmentVeiwModel.GetDepartments()).ToList();
            _loading = false;
        }
        catch (Exception ex)
        {

            Error.ProcessError(ex);
        }

    }

    [Parameter]
    public EventCallback<string> OnChange { get; set; }

    protected async Task OnFileChange(InputFileChangeEventArgs e)
    {
        var format = "images/png";
        var imageSize = 151200;
        //get the file
        var resizeImage = await e.File.RequestImageFileAsync(format, 300, 300);
        // read that file in a byte array
        var buffer = new byte[resizeImage.Size];
        await resizeImage.OpenReadStream(imageSize).ReadAsync(buffer);
        // convert byte array to base 64 string
        var imageData = $"data:{format};base64,{Convert.ToBase64String(buffer)}";
        //bind the base64 to employee photopath
        Employee.PhotoPath = imageData;
        await OnChange.InvokeAsync(Employee.PhotoPath);
    }

    protected async Task HandleValidSubmit()
    {
        try
        {
            var result = await EmployeeViewModel.CreateEmployee(Employee);
            if (result != null)
            {
                EmployeeViewModel.HandleSuccessCreate();
            }
        }
        catch (Exception ex)
        {

            Error.ProcessError(ex);
        }

    }

}